<div class="col-xs-12">
    <div class="text-right  mb-4">
    <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" 
            type="number" 
                [(ngModel)]="searchText" 
                name="searchText"
                class="form-control bg-light border-0 input-lg" 
                placeholder="Search employee..."
                aria-label="Search"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="onPressShearchButtomHandle()" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>
</div>